[submodule "engine"]
	path = engine
	url = https://github.com/teschnei/lotus-engine.git
[submodule "ffxi-engine"]
	path = ffxi-engine
	url = https://github.com/tagban/lotus-ffxi.git
	branch = moghouse
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
